<a href="#">
  <svg
    viewBox="0 0 24 24"
    width="24"
    height="24"
    stroke="currentColor"
    stroke-width="2"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="css-i6dzq1"><polyline points="18 15 12 9 6 15"></polyline></svg
  >
</a>
<style>
  a {
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    color: rgb(var(--black));
    border: 1px solid rgba(219, 219, 219, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    bottom: max(20px, env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 1000;
    transition: all 0.2s ease;
  }
  a:hover {
    background: rgba(0, 132, 255, 0.137);
  }
</style>
